<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Datos del vendedor</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item>
        <p><b>{{tipo | titlecase}}</b></p>
    </ion-item>
    <ion-item>
        <h3><b>{{nombre | titlecase}}</b></h3>
    </ion-item>
    <ion-item>
        <ion-icon slot="start" name="call-outline"></ion-icon>
        <p><b>{{telefono}}</b></p>
    </ion-item>
    <ion-item>
        <ion-icon slot="start" name="mail-unread-outline"></ion-icon>
        <p><b>{{email}}</b></p>
    </ion-item>
    <ion-item>
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <p><b>{{direccion}}</b></p>
    </ion-item>
    <ion-item>
        <ion-icon slot="start" name="map-outline"></ion-icon>
        <p>{{ciudad | titlecase}}</p>
        <p><b>&nbsp;({{pais | titlecase}})</b></p>
    </ion-item>
</ion-content>