.enviar {
    margin-top: 2rem;
}

.logo {
    margin-top: 3rem;
}

.forgot {
    text-decoration: none;
    margin-top: 1rem;
    align-items: flex-end;
    color: rgb(15, 15, 15);
}

.cuenta {
    margin-top: 1rem;
}

.tutor {
    left: 0;
    bottom: 10px;
    right: 0;
    color: rgb(15, 15, 15);
    text-decoration: none;
}

.ing {
    margin-top: 1rem;
}