<ion-header>
    <ion-toolbar>
        <ion-title>Selección de registro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card mode="ios">
        <img src="../../../assets/icon/work.png" class="slide-image" alt="">
        <ion-card-header>
            <ion-card-title>Registro Empresa</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Creación de cuenta empresarial permite registro de vendedores.
            <ion-button expand="block" (click)="openEnt()">
                Registrar Empresa
            </ion-button>
        </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
        <img src="../../../assets/icon/team.png" class="slide-image" alt="">
        <ion-card-header>
            <ion-card-title>Registro Persona</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Creación de cuenta personal.
            <ion-button expand="block" fill="outline" (click)="openPer()">
                Registrar Persona
            </ion-button>
        </ion-card-content>
    </ion-card>


</ion-content>