<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/empresa"></ion-back-button>
        </ion-buttons>
        <ion-title>Modificar Solicitud</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="editRequestForm" (ngSubmit)="editRequest(editRequestForm.value)" autocomplete="off">
        <ion-list>
            <ion-item>
                <ion-label position="stacked">Descripción del producto</ion-label>
                <ion-textarea rows="4" cols="20" formControlName="descripcion"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Nombre del producto</ion-label>
                <ion-input type="text" formControlName="nombre"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Referencia del producto</ion-label>
                <ion-input type="text" formControlName="referencia"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Marca producto</ion-label>
                <ion-input type="text" formControlName="marca"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Cantidad</ion-label>
                <ion-input type="number" formControlName="cantidad"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Dirección de entrega</ion-label>
                <ion-input type="text" formControlName="direccion"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Ciudad</ion-label>
                <ion-select placeholder="Seleccione" formControlName="ciudad">
                    <ion-select-option value="bogota">Bogotá D.C</ion-select-option>
                    <ion-select-option value="pereira">Pereira</ion-select-option>
                    <ion-select-option value="medellin">Medellín</ion-select-option>
                    <ion-select-option value="cali">Cali</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>País</ion-label>
                <ion-select placeholder="Seleccione" formControlName="pais">
                    <ion-select-option value="colombia">Colombia</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Fecha de entrega</ion-label>
                <ion-datetime formControlName="fecha" displayFormat="MM DD YY" placeholder="Seleccione fecha"></ion-datetime>
            </ion-item>
            <ion-button type="submit" expand="block" class="ing">
                Actualizar solicitud
            </ion-button>
        </ion-list>
    </form>
</ion-content>